<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .login-form{
            display: grid;
            gap: 10px;
        }
    </style>
</head>
<body>
    <!-- GET or POST (more secure)-->
    <form class="login-form" action="" method="POST">
        {% if form.password.errors %}
        {% for error in form.username.errors %}
        <div style="color:red">{{error}}</div>
        {% endfor %}
        {% endif %}

        <label>{{form.username.label}}:</label> {{form.username(placeholder="username")}}
        <label>{{form.password.label}}:</label> {{form.password()}}
        {{form.submit}}<br />
    </form>

</body>
</html>